*, *::before, *::after{
  box-sizing: border-box !important;
  /* font-family: 'Roboto', sans-serif; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#root{
  height: 100vh;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-button {
  display: none; }

::-webkit-scrollbar-track-piece {
  background-color: rgb(229 231 235) }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); }
/* 
  #pai{
    background-color: rgba(0,0,255,0.5);
  }

  #filho{
    opacity: ;
  } */

  input[type="number"]{
    -moz-appearance: textfield;
    /* border: none; */
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button
  {
    -webkit-appearance: none;
  }
  input[type="number"]:focus{
    border: none;
  }