* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background-color: rgb(229 231 235);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.carrinho {
  transition: all 0.25s;
  /*position: absolute;
  right: 0;
  height: 100%;*/
}

.carrinho.preEnter,
.carrinho.exiting {
  //right: -600px;
  margin-right: -600px;
}

.carrinho.exited {
  //right: -600px;
  margin-right: -600px;
}
